.item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #00000022;
}

.productName {
  font-size: 22px;
}

.productPrice {
  font-size: 22px;
}
